/* Button */
.button {
    -fx-background-color: linear-gradient(#ab47bc, #8e44ad); /* Gradient tím đậm */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 10px;
    -fx-padding: 5px 15px;
    -fx-border-radius: 8px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 2, 2);
}

.button:hover {
    -fx-background-color: linear-gradient(#d4a6f4, #ab47bc); /* Gradient tím sáng hơn */
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #8e44ad;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0, 3, 3);
}