.root{
    -fx-background-color:#EAEEF4;
}

/* Pane màu xanh dương */
#booksPane {
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

/* Pane màu xanh lá */
#openPane {
    -fx-background-color:#addf7a;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #addf7a;
}

/* Pane màu cam */
#membersPane {
    -fx-background-color:#FD9999;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #FD9999;
}

/* Pane màu đỏ */
#transactionsPane {
    -fx-background-color: #fff535;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #fff535;
}

/* Pane màu tím */
#totalBooksPane {
    -fx-background-color:#353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #353A56;
}

.button {
    -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
}

.button:hover {
    -fx-cursor: hand;
}

.button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0, 3, 3); /* Bóng đậm hơn khi nhấn */
}

#profilePane {
    -fx-background-color: white; /* Nền trắng */
    -fx-border-color: #8e44ad; /* Viền tím đậm */
    -fx-border-width: 2px; /* Độ dày viền */
    -fx-border-radius: 12px; /* Bo tròn góc */
    -fx-background-radius: 12px; /* Bo tròn nền */
    -fx-padding: 15px; /* Khoảng cách bên trong */
    -fx-effect: dropshadow(gaussian, rgba(142, 68, 173, 0.4), 10, 0, 3, 3); /* Hiệu ứng bóng tím */
}