.root {
    -fx-background-image: url('../adminController/Images/1.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.button {
    -fx-background-color: linear-gradient(#f5ad76, #d96c3e); /* Gradient cam */
    -fx-text-fill: white; /* Màu chữ trắng */
    -fx-font-size: 24px;
    -fx-padding: 5px 15px;
    -fx-border-radius: 8px; /* Bo tròn */
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 2, 2); /* Hiệu ứng bóng */
}

.button:hover {
    -fx-background-color: linear-gradient(#fcd1a1, #f1975b); /* Gradient cam nhạt hơn */
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #d96c3e; /* Màu cam đậm */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0, 3, 3); /* Bóng đậm hơn */
}